.divide {
  position: relative;
  padding: 45px;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 10%;
}

.categories {
  position: relative;
  color: #151875;
  font-size: 13px;
  width: 65%;
  font-family: "Josefin Sans";
  row-gap: 50px;
  display: flex;
  flex-direction: column;
}

.products {
  position: relative;
  color: #151875;
  font-family: "Josefin Sans";
  text-decoration: underline;
  font-size: 15px;
  bottom: 15%;
}
