.main {
    padding-left: 5%;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .card-contrainer {

    height: 361px;
    width: 270px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    animation: ease-in;
    margin-left: 10px;
    margin-right: 10px;
  }
  .card-contrainer:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
  }
  .top {
    overflow: hidden;
    
    height: 236px;
width: 270px;

border-radius: 0px;


background: #F6F7FB;
  }
  
  .bottom {
    overflow: hidden;
    height: 361px;
width: 270px;

border-radius: 0px;

  
    background: #ffffff;
  
  }
  .productImg{width: 80%;
    height: 100%;
    position: relative;
    left: 10%;
background-color:#F6F7FB;
mix-blend-mode: darken; }
.title
{color: #FB2E86;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;}
    .rating
{color: #151875;
    font-size: 14px;
line-height: 16px;
    text-align: center;}