.mainDiv {
  background: #eeeffb;
  height: auto;
  position: relative;
  padding-top: 2%;
  padding-bottom: 5%;
}
.smallDiv {
  background: #e7e4f8;
  width: auto;
  height: 40px;
}
.tab {
  display: flex;
  text-align: left;
  max-width: 100%;
}
.searchInput {
  min-width: 140px;
  border-color: transparent;
  font-size: 15px;
  font-family: "Josefin Sans";
  max-width: 200px;
}
.searchInput:focus {
  outline: none;
}

.searchLabel {
  padding: 40px;
  font-family: "Josefin Sans";
  color: white;
}
th {
  position: relative;
  font-size: 15px;
  font-family: "Josefin Sans";
}
td {
  color: #8a8fb9;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Josefin Sans";
}

.tableFooter {
  border-spacing: 90px 1rem;
  position: relative;
  max-width: 100%;
}

.emailDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  font-family: "Josefin Sans";
}
.sign {
  width: 150px;
  background: #fb2e86;
  height: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans";
}
