.mainDiv {
  background: #eeeffb;
  height: auto;
  position: relative;
  padding-top: 2%;
  padding-bottom: 5%;
}
.smallDiv {
  background: #e7e4f8;
  width: auto;
  height: 40px;
}
.tab {
  display: flex;
  text-align: left;
  max-width: 100%;
 
}
.searchInput {
  width: 85%;
  border-color: transparent;
  font-size: 15px;
}
.searchInput:focus {
  outline: none;
}

.searchLabel {
  position: relative;
  top: 30%;
  left: 30%;
  color: white;
}
th {
  position: relative;
font-size: 15px;;
}
td {
  color: #8a8fb9;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.tableFooter {
  border-spacing: 90px 1rem;
  position: relative;
  max-width: 100%;
}

.emailDiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 50px;
  background-color: white;
}
.sign {
  width: 150px;
    background: #fb2e86;
    height: auto;
    position: relative;
    left: 25%;
}
